@charset "UTF-8";
@import "../MainContainer/App.scss";

.layer {
    background: no-repeat bottom center;
    background-size: cover;
    min-height: 900px;
    height: auto;
    position: fixed;
    z-index: -1;
    width: 100vw;
  
    &-transition {
      background-image: url("../../assets/Parallax/Banner/banner-transition.png");
      transition: ease-out 1s;
      top: -20vh;
    }
  
    &-three {
      background-image: url("../../assets/Parallax/Banner/banner-layer3.png");
    }
  
    &-two {
      background-image: url("../../assets/Parallax/Banner/banner-layer2.png");
    }
  
    &-one {
      background-image: url("../../assets/Parallax/Banner/banner-layer1.png");
    }
  
    &-bg {
      background-image: url("../../assets/Parallax/Banner/banner-bg.png");
    }
  }