@charset "UTF-8";

// COLOURS
$white: #FFFFFF;
$black: #141414;
$gold: #DAA520;
$lapiz: #26619c;

// STANDARD CSS
* { box-sizing: border-box; }
html, body {
  padding: 0;
  margin: 0;
}

section {
  margin: 0;
  padding: 0;
}